{% extends "layouts/base.html" %}
{% load static %}

{% block body %}index-page bg-gray-200{% endblock body %}

{% block content %}

  <header class="header-2">
    <div class="page-header min-vh-75 relative"
				 style="background-image: url('{% static "assets/img/consciousness.jpg" %}')">
      <span class="mask bg-gradient-dark opacity-4"></span>
      <div class="container">
        <div class="row">

          <div class="col-lg-7 text-center mx-auto">
            <h1 class="custom-header text-white font-weight-black pt-3 mt-n5 h1-up">
							News Agency "Whispers"
						</h1>
						<h3 class="slogan">Where truth meets transparency.</h3>
					</div>
        </div>

      </div>
    </div>
  </header>

  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">

    <section class="pt-3 pb-4" id="count-stats">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 mx-auto py-3">
            <div class="row">
              <div class="col-md-4 position-relative">
                <div class="p-3 text-center">
                  <h1 class="text-gradient text-dark"><span id="state1" countTo="70">0</span>+</h1>
                  <h5 class="mt-3">{{ num_editors }}</h5>
                  <p class="text-sm font-weight-normal">From buttons, to inputs, navbars, alerts or cards, you are
                    covered</p>
                </div>
                <hr class="vertical dark">
              </div>
              <div class="col-md-4 position-relative">
                <div class="p-3 text-center">
                  <h1 class="text-gradient text-dark"> <span id="state2" countTo="15">0</span>+</h1>
                  <h5 class="mt-3">{{ num_publications }}</h5>
                  <p class="text-sm font-weight-normal">Mix the sections, change the colors and unleash your creativity
                  </p>
                </div>
                <hr class="vertical dark">
              </div>
              <div class="col-md-4">
                <div class="p-3 text-center">
                  <h1 class="text-gradient text-dark" id="state3" countTo="4">{{ num_subjects }}</h1>
                  <h5 class="mt-3">{{ Subjects }}</h5>
                  <p class="text-sm font-weight-normal">Save 3-4 weeks of work when you use our pre-made pages for your
                    website</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
	</div>
{% endblock content %}

{% block extra_js %}

<!--  Plugin for TypedJS, full documentation here: https://github.com/inorganik/CountUp.js -->
<script src="{% static "assets/js/plugins/countup.min.js" %}"></script>

<script src="{% static "assets/js/plugins/choices.min.js" %}"></script>
<script src="{% static "assets/js/plugins/prism.min.js" %}"></script>
<script src="{% static "assets/js/plugins/highlight.min.js" %}"></script>

<!--  Plugin for Parallax, full documentation here: https://github.com/dixonandmoe/rellax -->
<script src="{% static "assets/js/plugins/rellax.min.js" %}"></script>
<!--  Plugin for TiltJS, full documentation here: https://gijsroge.github.io/tilt.js/ -->
<script src="{% static "assets/js/plugins/tilt.min.js" %}"></script>
<!--  Plugin for Selectpicker - ChoicesJS, full documentation here: https://github.com/jshjohnson/Choices -->
<script src="{% static "assets/js/plugins/choices.min.js" %}"></script>

<script type="text/javascript">

  if (document.getElementById('state1')) {
    const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
    if (!countUp.error) {
      countUp.start();
    } else {
      console.error(countUp.error);
    }
  }
  if (document.getElementById('state2')) {
    const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
    if (!countUp1.error) {
      countUp1.start();
    } else {
      console.error(countUp1.error);
    }
  }
  if (document.getElementById('state3')) {
    const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
    if (!countUp2.error) {
      countUp2.start();
    } else {
      console.error(countUp2.error);
    }
  }
</script>

{% endblock extra_js %}