.h1-up {
    transform: translateY(-120px);
}

.custom-header {
    font-size: 3rem;
    font-weight: 700;

    text-shadow:
        2px 2px 2px rgba(60, 43, 43, 0.89),
        0 0 25px rgba(9, 34, 230, 0.5),
        0 0 5px rgba(55, 17, 152, 0.7);
    letter-spacing: 1px;
}

.slogan {
    transform: translateY(-120px);

    font-size: 1.5rem;
    color: white;
    font-weight: 500;

    text-shadow:
        2px 2px 4px rgba(9, 9, 9, 0.89),
        0 0 25px rgba(9, 34, 230, 0.5),
        0 0 5px rgba(55, 17, 152, 0.7);
    letter-spacing: 1px;
}


.content-container {
    max-height: calc(100vh - 80px); /* Обмежуємо висоту контенту */
    overflow-y: auto; /* Додаємо прокручування */
    width: 87%;
    margin: 50px auto; /* Центрування контейнера */
    padding: 0 15px; /* Для виведення контейнера з відступами */
    }

.table td, .table th {
    color: black; /* Колір тексту чорний */
    table-layout: auto;
    }

.custom-hr {
    border: 1px solid #0a0a0a;
    width: 100%;
  }

.header-with-button-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}