{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block body %}page-frame bg-gray-200{% endblock body %}

{% block content %}

	<div class="content-container">
  <div class="container mt-5">
    <div class="card shadow p-4">

	<!--breadcrumbs-->
	<div class="container py-2 mt-1">
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item text-dark opacity-5">
					<a href="{% url 'manager_app:index' %}">Home</a></li>
        <li class="breadcrumb-item text-dark opacity-5">
					<a href="{% url 'manager_app:editor-list' %}">Editors</a></li>
        <li class="breadcrumb-item text-dark active" aria-current="page">Add editor</li>
      </ol>
    </nav>
  </div>
</div>
	<!--end breadcrumbs-->

		<!-- CONTENT -->

		<h1>{{ publication|yesno:"Update,Add" }} editor</h1>

		<form action="" method="post" novalidate>
			{% csrf_token %}
					{{ form|crispy }}
{#			<!-- Username -->#}
{#            <div class="mb-4">#}
{#              <label class="form-label">Username</label>#}
{#              {{ form.username }}#}
{#            </div>#}
{#			<!-- First name -->#}
{#            <div class="mb-4">#}
{#              <label class="form-label">First name</label>#}
{#              {{ form.first_name }}#}
{#            </div>#}
{#						<!-- Last name -->#}
{#            <div class="mb-4">#}
{#              <label class="form-label">Last name</label>#}
{#              {{ form.last_name }}#}
{#            </div>#}
{#			<!-- Experience -->#}
{#            <div class="mb-4">#}
{#              <label class="form-label">Experience</label>#}
{#              {{ form.experience }}#}
{#            </div>#}
{#			<!-- Password1 -->#}
{#            <div class="mb-4">#}
{#              <label class="form-label">Password</label>#}
{#              {{ form.password1 }}#}
{#            </div>#}
{#			<!-- Password2 -->#}
{#            <div class="mb-4">#}
{#              <label class="form-label">Confirm Password</label>#}
{#              {{ form.password2 }}#}
{#            </div>#}

				<input type="submit" value="Submit" class="btn btn-info">
		</form>

		<!-- END CONTENT -->


    </div>
  </div>
	</div>

{% endblock content %}
