				<div style="display: flex; gap: 20px;">
					<a href="{% url 'manager_app:publication-delete' pk=publication.id %}"
					 class="btn btn-danger link-to-page"
					data-bs-toggle="modal" data-bs-target="#deleteModal">
						Delete
					</a>

					<a href="{% url 'manager_app:publication-update' pk=publication.id%}" class="btn btn-secondary link-to-page">
						Update
					</a>
				</div>

			<!-- Модальне вікно для підтвердження видалення -->
			<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="deleteModalLabel">Delete Task</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p>Are you sure you want to delete this task?</p>
						</div>
						<div class="modal-footer">
							<form action="{% url 'manager_app:publication-delete' pk=publication.id %}" method="post">
								{% csrf_token %}
								<button type="submit" class="btn btn-danger">Yes</button>
							</form>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
						</div>
					</div>
				</div>
			</div>
		<!-- end Модальне вікно для підтвердження видалення -->